

 
/* Tamaño para desktops */
@media screen and (min-width: 100%) {}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Main */
.contenedor_main {
    background-image: url(/assets/images/fondo_code_morado.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.subcontenedor_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subcontenedor_main_pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subcontenedor_main_pic img {
    width: 50%;
    border-radius: 500px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.subcontenedor_main_info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subcontenedor_main_info h1 {
    font-weight: 700;
    font-size: 80px;
}

.subcontenedor_main_info p {
    width: 80%;
}
.subcontenedor_main_info ul {
    display: flex;
    list-style-type: none;
}

.subcontenedor_main_info ul li img {
    height: 50px;
}

/* Redes sociales */
.contenedor_social {
    background-color: blueviolet;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.contenedor_social i {
    color: rgb(255, 255, 255);padding: 5px;
}


/* Proyectos */

.lista_proyectos {
    padding-top: 50px;
}

.lista_proyectos h2 {
    text-align: center;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-bottom: 40px;
}

.esquema_frame {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    width: 400px;
    background-color: rgb(235, 235, 235);
    border: 10px;
    margin: 10px;
}


.contenedor_frames {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 100px;
}

.contenedor_frames i {
    color: rgb(108, 0, 135);
    font-size: 30px;
    padding: 5px;
}

/* Contacto */

.seccion_contacto {
    background-color: rgb(194, 194, 194);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.seccion_contacto form {
    width: 80%;
    padding-top: 50px;
}

.seccion_contacto img {
    width: 100%;
}

/* Footer */

.contenedor_footer {
    background-color: black;
    color: white;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}





/* Tamaño para tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {}



/* Tamaño para moviles */
@media screen and (max-width: 767px) {}




